@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #eca4fb;
  padding: .5rem;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
  flex-basis: 60%;
  float: left;
  border-radius: .5rem;
}

.image img{
 /* padding: .5rem; */
  flex-grow: 1;
  max-width: 100%;
  height: auto;
  border-radius: .5rem;
}

.text {
  padding: 1rem;
  max-width: 50%;
  height: auto;
  flex-grow: 1;
  flex-basis: 50%;
}

@media only screen and (max-width: 42rem)
{
  .container{
    flex-wrap: wrap;
  }
  
  .text{
    padding: .5rem;
    max-width: 50%;
    height: auto;
    flex-grow: 1;
    flex-basis: 40%
  }
  
  .image img{
    padding: .5rem;
  }

}